* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    background-color: #2E2F30;
}

form {
    background-color: #494C4D;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

form legend {
    color: #12c48e;
    text-align: center;
    text-transform: uppercase;
    font-size: 15pt;
    margin: 20px 0px;;
}

form label {
    color: #d1d1d1;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    box-shadow: none;
}

a {
    color: #d1d1d1;
    width: 100%;
    display: flex;
    text-decoration: none;
    margin: 20px 0px;
}

button[type="submit"] {
    background-color: #12c48e;
    color: white;
    width: 100%;
    padding: 15px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

@media (min-width: 750px){
    form {
        padding: 30px;
    }
    button[type="submit"] {
        width: 60%;
        background-color: #12c48e;
    }
}